@{
    ViewData["Title"] = "Главная страница";
}
@model List<UsageAndMeasuringPointViewModel>;

<div class="text-center">
    <h1 class="display-4">Список объектов потребления</h1>
</div>
<table class="table table-hover table-responsive">
    <thead class="thead-light">
        <tr>
            <th hidden>Id</th>
            <th>Название объекта</th>
            <th>Адрес</th>
            <th>Трансформаторы напряжения</th>
            <th>Трансформаторы тока</th>
            <th>Счетчики эл. энергии</th>
            <th>Управление точками измерения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>@item.PointOfUse.ID</td>
                <td>@item.PointOfUse.Name</td>
                <td>@item.PointOfUse.Address</td>
                <td><a href="~/Home/PotentialTransformer/@item.PointOfUse.ID">Проверить состояние</a></td>
                <td><a href="~/Home/CurrentTransformer/@item.PointOfUse.ID">Проверить состояние</a></td>
                <td><a href="~/Home/ElectricityMeter/@item.PointOfUse.ID">Проверить состояние</a></td>
                <td><a href="~/Home/CreateMeasuringPoint/@item.PointOfUse.ID">Добавить новую точку измерения электроэнергии</a></td>
            </tr>
        }
    </tbody>
</table>

@foreach (var item in Model)
{
    <h1>Объект потребления @item.PointOfUse.Name</h1>

    <table class="table table-hover table-responsive">
        <thead class="thead-light">
            <tr>
                <th>Номер точки измерения</th>
                <th>Название точки измерения</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var val in item.ElectricityMeasuringPoint)
            {
            <tr>
                <td>@val.ID</td>
                <td>@val.Name</td>
            </tr>
            }
        </tbody>
    </table>
}


