@{
    ViewData["Title"] = "Трансформаторы напряжения";
}
@model List<PotentialTransformer>;

<div class="text-center">
    <h1 class="display-4">Список трансформаторов напряжения</h1>
</div>
@if (Model.Any())
{
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Номер</th>
            <th>Тип трансформатора напряжения</th>
            <th>Коэффициент трансформации</th>
            <th>Дата проверки</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Number</td>
                <td>@item.TransformerType</td>
                <td>@item.TransformationRatio</td>
                <td class="text-danger">@item.CheckDate</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
<h2 class="text-success text-center">Трансформаторы напряжения с истекшим сроком проверки отсутствуют</h2>
}