@model RoleEditModel

<div class="m-1 p-1"><h4>Редактировать Роль</h4></div>
<div asp-validation-summary="All" class="text-danger"></div> 

<form asp-action="Edit" method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    <h6 class="p-1">Добавить в @Model.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><th colspan="2">Все пользователи являются участниками</th></tr>
        }
        else
        {
            @foreach (User user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td style='width: 35px; text-align: center;'>
                        <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                    </td>
                </tr>
            }
        }
    </table>

    <h6 class="p-1">Удалить из @Model.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><th colspan="2">Ни один пользователь не является участником</th></tr>
        }
        else
        {
            @foreach (User user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td style='width: 35px; text-align: center;'>
                        <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit"class="btn btn-primary">Сохранить изменения</button>
    <a asp-action="Index" class="btn btn-secondary">Вернуться назад</a>
</form>